.comparison-modal {
  width: 50%;
  height: 50%;

  position: absolute;
  top: 50%;
  left: 50%;


  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  border: 1px solid;
  border-radius: 3px;
  height: auto;
  max-height: 350px;
  width: auto;
  overflow-y: auto;
}
.comparison-modal::-webkit-scrollbar {
  display: none;
}

.table-cell {
  border-right-width: 1px;
  border-right-style: solid;
  width: 33%;
}
.table-head {
  background-color: gainsboro;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  position: sticky;
  top: 0;
}

#name {
  font-weight: bold;
}

.carousel-box {
  background-color: gainsboro;
  min-width: 50%;
  max-width: auto;
  height: 430px;
  width:100%;

}

.outfit-stack {
  background-color: gainsboro;
  min-width: 50%;
  max-width: auto;
}

.related-outfit-header {
  font-weight: bold;
}

.add-outfit {

  background-color: ghostwhite;
}
.add-icon {
  transform: scale(9.0);
  position: relative;
  top: 40%;
  left: 45%;
  color: gray;
}
.add-icon:hover {
  color: dimgray;
}
.add-text {
  position: relative;
  top: 70%;
  left: 34%;
}

.outfit-card {
  position: relative;
  top: 0%;
}
.carousel {
  height: 430px;
}

.carousel-item-outfit {
  padding: 40px;
}

.images-carousel-box {
  height: 120px;
  position: relative;
  bottom: 40%;
  left: 10%;
  width: 90%;
}
.images-carousel {
  height: 100%;
}